<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script async src="https://www.google-analytics.com/gtm/js?id=G-33HJSHBFQ9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-33HJSHBFQ9');
</script>
<title>🐝 开发哥 - 技术分享</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<!-- <meta http-equiv="Content-Security-Policy" content="script-src *.kaifage.com"> -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<style id="theme" type="text/css">
:root {
    --bg-color:#ffffff;--link-color:#000;--logo-color:#999;--series-color:#000;--series-border-color:#222;--group-color:#ddd;--site-desc-color:#aaa
}
</style>
<script type="text/javascript">
    {{%PLH_SCRIPT_CONTENT%}}
</script>
<style type="text/css">
    {{%PLH_STYLE_CONTENT%}}
</style>
</head>
<body class="container">
    <header class="container-header">
        <h1 class="logo"><span class="prefix bee-flying">🐝</span> 开发哥 <small>技术分享</small></h1>
        <nav class="navigation">
            <a href="/">🐻开发笔记</a>
            <a href="/sites.html">🐼工具箱</a>
            <a href="/libs.html">🐻‍❄️代码库</a>
            <a href="/snippets.html">🐨代码片段</a>
            <a href="/chars.html" class="current">🦁特殊字符</a>
        </nav>
        <a class="contribute" href="https://github.com/damonpeng/kaifage.com" target="_blank">贡献新工具🪴</a>
        <div class="theme" id="changeTheme" title="换肤">🦄</div>
    </header>
    <section class="container-body">
        {{%PLH_CHARS_CONTENT%}}
    </section>
    <footer>
        <a href="https://support.qq.com/products/650084" target="_blank">建议反馈</a>
        |
        <a href="https://beian.miit.gov.cn/" target="_blank">粤ICP备18035072号</a>
    </footer>
</body>
</html>
